@font-face {
    font-family: "Futura Heavy Regular";
    src: url("Futura\ Heavy\ Regular.otf");
    font-family: "Futura Heavy Italic";
    src: url("Futura\ Heavy\ Italic.otf");
}

body {
    background-color: red;
    color: white;
    margin: 0;
    height: 100%;
}

#rc {
    font-size: 100px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-70%, -50%);
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Futura Heavy Italic", sans-serif;
}